<!DOCTYPE html>
html(lang="zh")
    head
        meta(charset="UTF-8")
        title 50嵐 | 聯絡我們
        link(rel="stylesheet", href="style.css")
        link(rel="shortcut icon", href="imgs/icon.ico", type="image/x-icon")
    body
        include nav.pug
        h1 聯絡我們
        include footer.pug