mixin drink1(img,textZH,textEN)
    div(class="icon")
        img(src="imgs/" + img + ".png", alt="連結縮圖")
        span=textZH
        br
        p=textEN
<!DOCTYPE html>
html(lang="zh")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
        title 50嵐 | 飲品介紹
        link(rel="stylesheet", href="style.css")
        link(rel="shortcut icon", href="imgs/icon.ico", type="image/x-icon")
    body
        include nav.pug
        h1 飲品介紹
        div(id="drink")
            div(class="title")
                +drink1("icon1", "找好茶" , "Flavored Tea")
                +drink1("icon2", "找拿鐵" , "Tea Latte")
                +drink1("icon3", "找奶茶" , "Milk Tea")
                +drink1("icon4", "找新鮮" , "Fresh Juice")
            div(class="drinkcontent")
        include footer.pug