footer   
    nav
        a(href="index.html")
            img(src="imgs/logo.png", alt="50嵐 LOGO" id="logo1")
        div(id="contact")
            h4 各區營運代理
            h4 台北區客服聯絡電話:0800-600-150
            h4 中區客服聯絡電話:0800-885-050
            h4 中區客服信箱:service@50lan.com.tw
            h4 高雄區客服聯絡電話:0972-520-607
            h4 總部客服信箱:50lan.teashop@gmail.com
        //- div(id="link1")
        //-     a(href="about.html") 關於我們
        //-     a(href="new.html") 最新消息
        //-     a(href="drink.html") 飲品介紹
        //-     a(href="store.html") 門市資訊
        //-     a(href="contact.html") 聯絡我們
        div(id="copy") Copyright &copy; 2019 50嵐企業股份有限公司 All rights reserved.