<!DOCTYPE html>
html(lang="zh")
    head
        meta(charset="UTF-8")
        title 50嵐 | 首頁
        link(rel="stylesheet", href="style.css")
        link(rel="shortcut icon", href="imgs/icon.ico", type="image/x-icon")
    body
        include nav.pug
        div(id="img1")
            img(src="imgs/ghost.jpg", alt="鬼門開" id="ghost")
        div(id="img2")
            img(src="imgs/menu.jpg", alt="飲料單" id="menu")
        include footer.pug
