//-產生消息區塊
mixin new-box(img,tit2)
    div(class="new-box")
                a(href="#")
                    img(src="imgs/" + img + ".jpg", alt="活動 照片")
                    h2=tit2
                    hr
<!DOCTYPE html>
html(lang="zh")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
        title 50嵐 | 最新消息
        link(rel="stylesheet", href="style.css")
        link(rel="shortcut icon", href="imgs/icon.ico", type="image/x-icon")
    body
        include nav.pug
        h1 最新消息
        section(id="new")
            +new-box("new01","小小雪克手體驗營9月份報名")
            +new-box("new02","台中太平樹德店08/17開幕")
            +new-box("new03","微檸檬清透心涼")
            +new-box("ghost","鬼門開，ㄍㄧㄣ酸")
            +new-box("new","微檸檬紅，微微的，剛剛好")
            +new-box("lemon","果然似檸+金桔檸檬+")
            +new-box("new04","果然似檸")
            +new-box("new05","這裡有批很純的金桔，檸檬")
            +new-box("new06","雲林北港公園店07/27開幕")
            +new-box("new08","小小雪克手體驗營8月份報名")
            +new-box("new09","台中珍奶節報名")
            +new-box("new10","台中太平十甲店07/07開幕")
            +new-box("new11","50嵐x瑪利亞基金會，把愛串一塊")
            +new-box("new12","季節限定--葡萄柚系列")
            +new-box("new12-1","台中沙鹿鎮南06/14開幕")
            +new-box("new13","小小雪克手體驗營7月份報名")
            +new-box("new13-1","新竹竹科新店05/25開幕")
            +new-box("new14","蜂蜜紅茶")
            +new-box("new14-1","小小雪克手體驗營6月份報名")
            +new-box("new14-2","中壢新中北店05/01開幕")
            +new-box("new15","我們與罪餓的距離")
            +new-box("new16","小小雪克手體驗營5月份報名")
            +new-box("new16-1","台中逢甲04/13開幕")
            +new-box("new17","閨蜜系列，感情不會散")
            +new-box("new17-1","彰化大竹04/04開幕")
            +new-box("new18","小小雪克手體驗營4月份報名")
            +new-box("new19","閨蜜--蜂蜜綠--")
            +new-box("new20","3/8-3/11好想蜜在一起")
            +new-box("new21","閨蜜--蜂蜜系列--")
            +new-box("new22","情人茶，戀愛的滋味")

        include footer.pug