<!DOCTYPE html>
html(lang="zh")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
        title 50嵐 | 門市資訊
        link(rel="stylesheet", href="style.css")
        link(rel="shortcut icon", href="imgs/icon.ico", type="image/x-icon")
    body
        include nav.pug
        h1 門市資訊
        include footer.pug