*{
    margin:0;
    padding:0;
    font-family: 微軟正黑體;
}
#banner{
    background-color: #ffff00;
    width:70vw;
    height:calc(100vw/10);
    margin:0 auto;
}
#logo{
    width:150px;
    padding:0 22px;
   
}
#link{
    float:right;
    padding:55px 0;
}
#link a{
    color:#0056b8;
    text-decoration: none;
    font-weight:bold;
    padding:10px 40px;
    font-size: 22px;
}
#link a:hover{
    background-color: #0056b8;
    color:#fff;
    transition: 0.6s;
}
/* 輪播banner */
#img1{
    width:70vw;
    height:39vw;
    margin:0 auto;
}
#ghost{
    height:600px;
    padding:0 230px;
}
#img2{
    margin:0 auto;
    width:70vw;
}
#menu{
    height:600px;
    padding:0 120px;
}
#footer{
    width:70vw;
    height:120px;
    background-color:#0056b8;
    margin:0 auto;
}
#logo1{
    width:120px;
}
#link1{
    display:inline-block;
}
#link1 a{
    text-decoration: none;
    color:#fff;
    font-weight:bold;
    padding:20px 0px;
}
#contact{
    display:inline-block;
    padding:0 10px 10px 10px;
}
#contact h4{
    color:#fff;
    line-height: 20px;
    letter-spacing: 5px;
}