*{
    margin:0;
    padding:0;
    font-family: 微軟正黑體;
}
#banner{
    background-color: #ffff00;
    width:70vw;
    height:120px;
    margin:0 auto;
}
#logo{
    width:120px;
    padding:0 50px;
   
}
#link{
    float:right;
    padding:40px 0;
}
#link a{
    color:#0056b8;
    text-decoration: none;
    font-weight:bold;
    padding:0 40px;
    font-size: 22px;
}
#link a:hover{
    background-color: #0056b8;
    color:#fff;
    transition: 0.6s;
}
/* 輪播banner */
#img1{
    width:70vw;
    height:600px;
    margin:0 auto;
}
#ghost{
    height:600px;
    width:70vw;
}
#img2{
    margin:0 auto;
    width:70vw;
    height:600px;
}
#menu{
    height:600px;
    width:70vw;
}
/* 頁尾 */
#footer{
    width:70vw;
    height:130px;
    background-color:#0056b8;
    margin:0 auto;
}
#logo1{
    width:100px;
    padding:5px 50px;
}
#link1{
    display:inline-block;
}
#link1 a{
    text-decoration: none;
    color:#fff;
    font-weight:bold;
    padding:2px 20px;
    display:block;
}
#link1 a:hover{
    background-color: #ffff00;
    color:black;
    transition: 0.6s;
}
#contact{
    display:inline-block;
    padding:5px 30px;
}
#contact h4{
    color:#fff;
    line-height: 20px;
    letter-spacing: 5px;
}
#copy{
    font-size:12px;
    text-align: center;
}