*{
    margin:0;
    padding:0;
    font-family: 微軟正黑體;
}
#banner{
    background-color: #ffff00;
    width:100vw;
    height:120px;
    margin:0 auto;
}
#logo{
    width:120px;
    padding:0 50px;
   
}
#link{
    float:right;
    padding:40px 0;
}
#link a{
    color:#0056b8;
    text-decoration: none;
    font-weight:bold;
    padding:0 40px;
    font-size: 22px;
}
#link a:hover{
    background-color: #0056b8;
    color:#fff;
    transition: 0.6s;
}
/* 輪播banner */
#img1{
    width:100vw;
    margin:0 auto;
    height: 90vh;
}
#ghost{
    width:100vw;
    height: auto;
    height: 90vh;
    object-fit: cover;
    object-position: 0 -160px ;
}
/* #img2{
    margin:0 auto;
    width:70vw;
    height:600px;
} */
#menu{
    height:600px;
    width:70vw;
}
/* 頁尾 */
footer{
    width:100vw;
    height:150px;
    background-color:#0056b8;
    margin:0 auto;
}
footer nav{
    width: 100vw;
    display:grid;
    grid-template-columns: 10% 80% 10%;
    
}
#logo1{
    width:100px;
    padding:22px 60px;
}
#link1 a{
    text-decoration: none;
    color:#fff;
    font-weight:bold;
    margin-top:2px;
    margin-left: 80px;
    padding:3px 5px;
    display:block;
}
#link1 a:hover{
    background-color: #ffff00;
    color:black;
    transition: 0.6s;
}
#contact{   
    padding:5px 10px;
}
#contact h4{
    color:#fff;
    font-size: 10px;
    line-height: 20px;
    letter-spacing: 5px;
    text-align: center;
}
#contact p{
    font-size:10px;
    text-align: center;
    color:white;
    margin-top:2px;
    letter-spacing: 2px;
}

/* 關於我們 */
#about {
    height:700px;
    width:100vw;
    margin:0 auto;
    background-color: #fcfcd6 ;
}
#about h2{
    text-align: center;
    line-height: 30px;
    letter-spacing: 4px;
    padding:30px 30px;
    font-size: 24px;
}
#about p,li,ul{
    line-height: 34px;
    letter-spacing: 4px;
    padding:5px 20px;
    width:70vw;
    margin:0 auto;
    color: grey;
}
/* 最新消息 */
h1{
    text-align: center;
    font-size: 24px;
    padding-top:30px;
    width:100vw;
    background-color: #fcfcd6;
    margin:0 auto;
    letter-spacing: 4px;
}
#new{
    /* 顯示模式：格線 */
    display: grid;
    /* 格線-框架-欄位：欄位尺寸 欄位尺寸 欄位尺寸 */
    grid-template-columns: auto auto auto auto;
    /* 格線-間隙 */
    grid-gap: 20px;
    padding:30px 0;
    width:100%;
    margin:0 auto;
    background-color: #fcfcd6;
}
.new-box a{
    text-decoration: none;
}
.new-box img {
    width: 100%;
    height:500px;
    
}
.new-box h2{   
    text-align: center;
    color: grey;
    letter-spacing: 3px;
    font-size: 20px;
    margin:10px 0;
}
.new-box hr{
    height:2px;
    background-color: #0056b8;
    border:0;
    margin:10px 0;
}
/* 飲品介紹 */
#drink{
    margin:0 auto;
    width:100vw;
    height:80vh;
}
#drink img{
    width: 100%;
    height: 80vh;
    margin:0 auto;
    /* object-fit: cover;
    object-position: 0 -110px ;  */
}
/* 聯絡我們 */
.contact{
    width:100vw;
    background-color: #fcfcd6;
    margin:0 auto;
    display:grid;
    grid-template-columns:auto auto;
}
#box{   
    padding-top:50px;
    padding-bottom: 50px;
    /* border: 0.5px solid ;  */
} 
#box img{
    /* border: 0.5px solid ;  */
    height: 620px;
    float:right;
}
#content{
    width: 420px;
    height: 560px;   
    background-color:#fff;
    margin-top: 50px;    
    padding: 30px 20px;
    vertical-align: top;
    /* border: 0.5px solid #FFB5A6;  */
}
label{
    letter-spacing: 3px;
}
#name,#email,#phone,#message{
    width: 100%;
    padding: 5px 0;
    margin: 10px 0;
    background-color:rgb(253, 238, 170);
    color:black;
}
fieldset {
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    background-color:rgb(253, 238, 170);
    margin: 10px 0 10px 0;
}
#man,#woman{
    margin:10px 10px;
}
.btn {
    width: 40%;
    height: 30px;
    color: black;
    font-size: 16px;
    font-weight: 50px;
    margin: 5px;
    background-color:rgb(253, 238, 170);
}
  
#button {
    text-align: center;
    margin-top: 5px;
    
}
/* 預留文字 */
::placeholder {
    color:grey;
  }
/* RWD放最下面 */
/*當螢幕大於等於 1024 像素 桌機 */
@media screen and (min-width:1025px){
}
/*當螢幕小於等於 1542 像素 桌機縮小 */
@media screen and (max-width:1542px){
    #link1 a{
        margin-left:0;
    }       
}
/*當螢幕小於等於 1528 像素 桌機縮小 */
@media screen and (max-width:1355px){
    #about{
        height: 700px;
    }
}
/*當螢幕小於等於 1188 像素 桌機縮小 */
@media screen and (max-width:1300px){
    #ghost{
        object-position: 0;
    }      
}
/*當螢幕小於等於 1188 像素 桌機縮小 */
@media screen and (max-width:1188px){
    #about{
        height: 850px;
    } 
    #link a{
        font-size: 18px;
    }   
}
/*當螢幕小於等於 1024 像素 平板pro */
@media screen and (max-width:1024px){
    #banner{
        height: 100px;
    }
    #logo{
        width:100px;
    }
    #img1{
        height: 80vh;
    }
    #ghost{
        height: 80vh;
        object-position: -50px ;
    }      
    #link{
        padding:35px 0;
    }
    #link a{
        font-size: 18px;
    }
    #logo1{
        padding:20px 50px;
    }
    #link1 a{
        margin-left:20px; 
    }
    #new{
        grid-template-columns: auto auto auto;
    }
    .new-box img{
        height: 400px;
    }
    .new-box h2{
        font-size: 16px;
    }
}
/*當螢幕小於等於 1023 像素 平板 */
@media screen and (max-width:1023px){
    #banner{
        height: 100px;
    }
    #logo{
        width:100px;    
    }
    #link a{
        padding: 0 20px;
    }
    #img1{
        height: 75vh;
    }
    #ghost{
        height: 75vh;
        object-position: 0;
    }
    #logo1{
        padding:20px 20px;
    }
    #contact{
        padding:5px 10px;
    }
    #link1 a{
        margin-left:0;
    }
    #about{
        height: 850px;
    }
    #box img{
        margin-left:0;
        width:390px;
        height: 600px;
    }
    #content{
        width:340px;
        height: 540px;
    }
    .new-box img{
        height: 300px;
    }
    .new-box h2{
        font-size: 12px;
    }
    #box img{
        height: 500px;
    }
    #content{
        width: 300px;
        height: 480px;
        padding: 10px 20px;
    }
    label{
        font-size: 10px;
    }

    #name,#email,#phone,#message{
        font-size: 10px;
        margin:8px 0;
    }
    #man,#woman{
        margin:8px 10px;
    }
    #button{
        margin: 0;
    }
}
/*當螢幕小於等於 767 像素 手機 */
@media screen and (max-width:767px){
  
}